<section>
    <header>
        <h1> {{folderSelected()?.name}} </h1>
        <button class="add-note" (click)="createNote()">
            Crear nota
            <img class="add-note-svg" src="/assets/svg/add-note.svg" alt="add">
        </button>
    </header>
    <div class="notes-container">
        @for (note of userNotes$(); track $index) {
            <div class="note-card" (click)="openNote(note)">
                <header>
                    <h2>{{ note.title }}</h2>
                    <!-- <button>
                        <img class="edit-note-svg" src="/assets/svg/edit.svg" alt="edit">
                    </button> -->
                </header>
                <p>{{ note.description }}</p>
            </div>
        }
    </div>    
</section>