<section>
    <header>
        @if(folderSelected$()) {
            <h1 class="folder-name" (click)="openFolder(folderSelected$()!)">
                {{folderSelected$()?.name}}
            </h1>
        } @else if(isEmpty()) {
            <h1> No tienes carpetas aún </h1>
        }
        <button class="add-note" (click)="!folderSelected$() ? createFolder() : createNote()">
            <p> {{ !folderSelected$() ? 'Crear carpeta': 'Crear nota'}} </p>
            <img class="add-note-svg" src="/assets/svg/add-note.svg" alt="add">
        </button>
    </header>

    @if(!folderSelected$() || isEmpty()) {
        <button class="folder-empty-container" (click)="!folderSelected$() ? createFolder() : createNote()">
            <img class="svg-folder-empty" src="/assets/svg/no-notes.svg" alt="folder-empty">
            <p>{{ !folderSelected$() ? 'Crear carpeta' : 'La carpeta está vacía' }}</p>
        </button>
    }

    <div class="notes-container">
        @for (note of userNotes$(); track $index) {
            <div class="note-card" (click)="openNote(note)">
                <header>
                    <h2>{{ note.title }}</h2>
                    <!-- <button>
                        <img class="edit-note-svg" src="/assets/svg/edit.svg" alt="edit">
                    </button> -->
                </header>
                <p>{{ note.description }}</p>
            </div>
        }
    </div>    
</section>