section{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 100%;
    box-sizing: border-box;
}
  
h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: white;
}
.notes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 10px;
    margin-top: 30px;
}
.note-card{
    /* background-color: rgb(30, 30, 30); */
    background-color: rgb(40, 40, 40);
    border: .5px solid rgb(30, 30, 30);

    border-radius: 5px;  
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 170px;
    h2{
        margin: 0;
    }
    p{
        color: #c7c7c7;
    }
}
.folder-empty-container{
    background-color: rgb(34, 34, 34);
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .7;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;

    p{
        color: #c7c7c7;
        font-size: 20px;
        margin: 0;
    }
}
.folder-empty-container:hover{
    opacity: .8;
}
.svg-folder-empty{
    height: 500px;
}
.note-card:hover{
    border: .5px solid #5a5a5a;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    border: none;
    cursor: pointer;
}
.add-note{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 15px;
    /* background-color: #323232; */
    background-color: rgb(247, 174, 174);
    opacity: .9;
    border-radius: 10px;
    padding: 0px 18px;
    height: 45px;
    gap: 2px;

    p{
        margin: 0;
    }
}
.add-note-svg{
    height: 18px;
}
.edit-note-svg{
    height: 18px;
}