mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

mat-drawer {
    background-color: rgb(34, 33, 33);
    border: 1px solid #5a5a5a;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}
h3{
    margin-top: 40px;
    margin-bottom: 40px;
}
ul-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.profile-container{
    padding-bottom: 40px;
}
.folders-container{
    padding-bottom: 20px;
}

li{
    display: flex;
    list-style-type: none;
    background-color: rgb(50, 49, 49);
    border-radius: 7px;  
    border: 1px solid #5a5a5a;
    box-sizing: border-box;
    width: 100%;
}
.folder-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-right: 10px;
}
p{
    padding-left: 10px;
    margin: 0;
}
a{
    display: flex;
    align-items: center;
    justify-content:baseline;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;  
    width: 100%;
    padding: 10px;
}

.folder-container:hover{
    background-color: rgb(61, 60, 60);
}
button:hover{
    background-color: rgb(44, 62, 103);
}
.svg {
    height: 18px;
}
.menu{
    cursor: pointer;
    transition: transform 0.5s ease;
}
  
.menu:hover {
    transform: rotate(180deg);
}
button{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    margin-top: 10px;

    padding: 10px;
    font-size: 16px;
    gap: 5px;

    border: 1px solid #5a5a5a;
    border-radius: 7px;  
    
    cursor: pointer;
    background-color: rgb(34, 55, 100);
    color: white;
}