<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="side-bar" mode="side" opened>
      <h3>Organizer</h3>
      <div class="ul-container">
        <ul class="profile-container">
            <p>Usuario</p>
            <li class="profile">
                <a class="ancor-profile">
                    <img class="svg" src="/assets/svg/profile.svg" alt="profile">
                    diegoinost</a>
            </li>
            
        </ul>
        <ul class="folders-container">
            <p>Carpetas</p>

            @for (folder of folders; track $index) {
                <li class="folder-container">
                    <a class="ancor-folder" (mouseenter)="images[$index] = openedFolder" (mouseleave)="images[$index] = closedFolder">
                        <img class="svg" [src]="images[$index]" alt="folder">
                        {{ folder.name }}
                    </a>
                    <div class="menu">
                        <img class="img-menu" src="/assets/svg/menu.svg" alt="menu">
                    </div>
                    <!-- <img class="menu" src="/assets/svg/menu.svg" alt="menu"> -->
                </li>
            }
        </ul>
        <button>
            <img class="svg" src="/assets/svg/add-folder.svg" alt="folder">
            Crear carpeta
        </button>
      </div>
    </mat-drawer>
</mat-drawer-container>
  <!--   
    <div>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->