<mat-dialog-content>
    <form [formGroup]="noteForm" (ngSubmit)="saveChanges()">
        <input
            formControlName="title"
            class="input-title"
            type="text"
            maxlength="30"
            >
        <textarea
            formControlName="description"
            class="input-description"
            type="text"
            maxlength="2000"
            >
        </textarea>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div>
        <button id="close-btn" mat-button mat-dialog-close matTooltip="Cerrar">
            <img class="svg" src="/assets/svg/close.svg" alt="close">
        </button>

        <button id="file-off-btn" mat-button mat-dialog-close (click)="archiveNote(noteData.id)" matTooltip="Archivar">
            <img class="svg" src="/assets/svg/file-off.svg" alt="close">
        </button>
    </div>

    <div>
        <button type="submit" id="edit-btn" mat-button (click)="saveChanges()" matTooltip="Guardar">
            <img class="svg" src="/assets/svg/save.svg" alt="save">
        </button>

        <button id="delete-btn" mat-button (click)="deleteNote(noteData.id)" matTooltip="Eliminar">
            <img class="svg" src="/assets/svg/trash.svg" alt="delete">
        </button>
    </div>
    
</mat-dialog-actions>
