<mat-dialog-content class="mat-typography">
    <form [formGroup]="noteForm" (ngSubmit)="saveChanges()">
        <input
            formControlName="title"
            class="title-edit"
            type="text"
            maxlength="20"
            >
        <textarea
            formControlName="description"
            class="description-edit"
            type="text"
            maxlength="2000"
            >
        </textarea>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button id="close-btn" mat-button mat-dialog-close matTooltip="Cerrar">
        <img class="svg" src="/assets/svg/close.svg" alt="close">
    </button>

    <button id="file-off-btn" mat-button mat-dialog-close (click)="archiveNote(noteData.id)" matTooltip="Archivar">
        <img class="svg" src="/assets/svg/file-off.svg" alt="close">
    </button>

    <button type="submit" id="edit-btn" mat-button (click)="saveChanges()" matTooltip="Guardar">
        <img class="svg" src="/assets/svg/save.svg" alt="save">
    </button>

    <button id="delete-btn" mat-button (click)="deleteNote(noteData.id)" matTooltip="Eliminar">
        <img class="svg" src="/assets/svg/trash.svg" alt="delete">
    </button>
    
</mat-dialog-actions>
