mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
mat-dialog-actions{
    padding: 10px;
}
form{
    height: 500px;
    padding: 0;
}
input, textarea{
    background-color: transparent;
    /* width: calc(100% - 10px); */
    width: 600px;
    border: .5px solid transparent;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 20px;
}
.title-edit{
    /* background-color: rgba(255, 255, 255, 0.037); */
    margin: 0 0 16px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    height: 75px;
}
.description-edit{
    display: flex;
    text-align: start; 
    color: rgb(197, 197, 197);
    font-size: 18px;
    height: calc(100% - 80px);
    overflow-y: auto;
    resize: none;
    font-family: inherit;
}
.title-edit:hover, .description-edit:hover{
    border: .5px solid rgba(135, 135, 135, 0.637);
}
.svg{
    height: 23px;
}