mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

mat-drawer {
    background-color: rgb(26, 25, 25);
    /* background-color: #151515; */
    border-top: .5px solid #5a5a5a;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px 20px 20px;
}
h3{
    margin-top: 40px;
    margin-bottom: 40px;
}
ul-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.profile-container{
    padding-bottom: 40px;
}
.folders-container{
    padding-bottom: 20px;
}

li{
    /* background-color: rgb(50, 49, 49); */

    background-color: rgb(30, 30, 30);
    display: flex;
    list-style-type: none;
    border-radius: 7px;  
    border: 1px solid #5a5a5a;
    box-sizing: border-box;
    width: 100%;
}
.folder-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    padding-left: 10px;
    margin: 0;
}
a{
    display: flex;
    align-items: center;
    justify-content:baseline;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;  
    width: 100%;
    padding: 10px;
}

li:hover{
    background-color: rgb(52, 51, 51);
}
.svg {
    height: 18px;
}
.menu{
    cursor: pointer;
}
.menu{
    padding-right: 10px;
    padding-left: 10px;
}
.img-menu{
    transition: transform 0.5s ease;
}
.menu:hover {
    .img-menu{
        transform: rotate(90deg);
    }
}
button{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    margin-top: 10px;

    padding: 10px;
    font-size: 16px;
    gap: 5px;

    border-radius: 7px; 

    cursor: pointer;

    background-color: rgb(26, 44, 82);
    /* background-color: rgb(27, 26, 26); */
}
button:hover{
    background-color: rgb(34, 55, 100);
    /* background-color: rgb(40, 40, 40); */
}
.add-folder-button{
    border: 1px solid #5a5a5a;    
    color: white;
}
/* .add-folder-button:hover{
    background-color: rgb(34, 55, 100);
} */
.archived-folders-button{
    border: 1px solid #5a5a5a;    
    color: white;
}
/* .archived-folders-button:hover{
    background-color: rgb(34, 55, 100);
} */