<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="side-bar" mode="side" opened>
      <h3>Organizer</h3>
      <div class="ul-container">
        <ul class="profile-container">
            <strong>Usuario</strong>
            <li class="profile">
                <a class="ancor-profile">
                    <!-- <img class="svg" src="/assets/svg/profile.svg" alt="profile"> -->
                    Hola, <span> {{user.username}} </span> 👋
                </a>
                <div class="menu">
                    <img class="img-menu" src="/assets/svg/menu.svg" alt="menu">
                </div>
            </li>
            
        </ul>
        <ul class="folders-container">
            <strong>Carpetas</strong>
            @for (folder of folders; track $index) {
                <li class="folder-container">
                    <a class="ancor-folder" 
                    (mouseenter)="currentFolder = $index" (mouseleave)="currentFolder = -1">
                        <img class="svg" [src]="(currentFolder === $index) ? openedFolder : closedFolder" alt="folder">
                        {{ folder.name }}
                    </a>
                    <div class="menu">
                        <img class="img-menu" src="/assets/svg/menu.svg" alt="menu">
                    </div>
                </li>
            }
        </ul>
        <button class="add-folder-button">
            <img class="svg" src="/assets/svg/add-folder.svg" alt="folder">
            Crear carpeta
        </button>

        <button class="archived-folders-button">
            <img class="svg" src="/assets/svg/archived-folder.svg" alt="folder">
            Archivado 
        </button>
      </div>
    </mat-drawer>

    <app-notes></app-notes>    
</mat-drawer-container>

<!-- <app-footer></app-footer> -->