section{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    min-height: 100%;
    box-sizing: border-box;
}
  
h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: white;
}
.notes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.note-card{
    background-color: rgb(30, 30, 30);
    border-radius: 7px;  
    border: 1px solid #5a5a5a;
    box-sizing: border-box;
    padding: 15px;

    h2{
        margin: 0;
    }
    p{
        color: #c7c7c7;
    }
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}