<section>
    <header>
        <h1>Notas</h1>
        <button class="add-note">
            <img class="add-note-svg" src="/assets/svg/add-note.svg" alt="add">
            Crear nota
        </button>
    </header>
    <div class="notes-container">
        @for (note of notes; track $index) {
            <div class="note-card">
                <header>
                    <h2>{{ note.title }}</h2>
                    <button>
                        <img class="edit-note" src="/assets/svg/edit.svg" alt="edit">
                    </button>
                </header>
                <p>{{ note.description }}</p>
            </div>
        }
    </div>    
</section>