mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

mat-drawer {
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 14px;
    border: none;
}

h3{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    display: flex;
    align-items:center;
    gap: 6px;
    color: rgb(232, 232, 232);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 130px);
    justify-content: space-between
}
.ul-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 4px;
    margin: 0;
    padding: 0;
}
.profile-container{
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.folders-container{
    padding-bottom: 0px;
}
.menu-user{
    .btn-menu{
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.overlay{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(50, 48, 48); */
    /* background-color: #202326; */
    background-color: #2e3236;

    padding: 0px;
    min-width: 200px;
    border-radius: 5px;
    gap: 0;
    p{
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: rgb(200, 200, 200);
        padding: 13px 10px;
        margin: 0;
        width: calc(100% - 20px);
        border-bottom: .5px solid #5a5a5a;

        .username-overlay{
            font-size: 16px;
            color: white;
            font-weight: 300;
        }
        .email-overlay{
            font-size: 14px;
            font-style:oblique;
            font-weight: 200;
            color: rgb(178, 178, 178);
        }
    }
    li{
        background: transparent;
        width: 100%;
        a{
            font-size: 15px;
            color: rgb(195, 193, 193);
            width: calc(100% - 20px);
        }
        a:hover{
            color: white;
        }
    }
    li:hover{
        /* background-color: rgb(213, 110, 0); */
        background-color: rgb(42, 75, 108);
    }
    >:nth-child(2){
        margin-top: 7px;
    }
    >:nth-last-child(1){
        margin-bottom: 7px;
    }
}
li{
    list-style-type: none;
}
.side-li{
    background-color: transparent;
    opacity: .85;
    display: flex;
    border-radius: 7px;  
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

strong{
    color: #f3f0f0;
    font-size: 11.5px;
    font-weight: 400;
    padding-left: 8px;
    margin: 0 0 6px 0;
}
.ancor-folder, .ancor-profile, .ancor-overlay{
    display: flex;
    align-items: center;
    justify-content:baseline;
    
    gap: 7px;
    text-decoration: none;
    cursor: pointer;
    color: white;  
    width: 100%;
    padding: 8px 10px;
    opacity: .8;
}
.ancor-folder, .btn-actions{
    font-weight: 350;
}
.ancor-profile span{
    font-style:oblique;
}
li:hover{
    background-color: rgb(52, 51, 51);
    a{
        opacity: 1;
    }
}
.svg {
    height: 18px;
}
.menu-folders{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-folders, .btn-menu{
    padding: 8px 10px;
}
.img-menu, .selected-menu-user{
    transition: transform 0.5s ease;
    height: 20px;
}
.menu-folders:hover {
    .img-menu{
        transform: rotate(-90deg);
    }
}
.profile:hover{
    .img-menu{
        transform: rotate(90deg);
    }
}
.selected-menu-user{
    transform: rotate(90deg);
}
.action{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    gap: 7px;
    margin-top: 10px;

    border-radius: 7px; 
    border: none;

    cursor: pointer;
    color: white;
}
.btn-folders{
    background-color: rgb(41, 41, 41);
    opacity: .8;
}
.btn-folders:hover{
    /* background-color: rgb(34, 55, 100); */
    background-color: rgb(49, 49, 49);
    opacity: .9;
}
.end-actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.ancor-actions{
    width: fit-content;
    font-size: 13px;
    /* background-color: rgba(57, 63, 184, 0.782); */
    background-color: transparent;
    opacity: .6;
    padding: 0px;
    box-sizing: border-box;
}
.ancor-actions:hover{
    opacity: .9;
}