<mat-dialog-content class="mat-typography">
    <form action="">
        <input
            class="title-edit"
            type="text"
            [value]="noteData.title"
            maxlength="20"
            >
        <textarea
            class="description-edit"
            type="text"
            [value]="noteData.description"
            maxlength="2000"
            >
        </textarea>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
     <button id="close-btn" mat-button mat-dialog-close>
        Cancelar
    </button>

    <button id="edit-btn" mat-button (click)="save()">
        Guardar
    </button>

    <button id="delete-btn" mat-button (click)="deleteNote()">
        Eliminar
    </button>
        
    <button id="close-btn" mat-button mat-dialog-close>
        Cerrar
    </button>
    
</mat-dialog-actions>
