<header>
    <div class="header-container">
        <div class="container">
            <h1>
                Crea y gestiona tus tareas o notas de la mejor forma
            </h1>
            <p>
                La mejor interfaz para una mejor experiencia
            </p>
            <button (click)="openRegister()">
                Empezar
            </button>
        </div>
        <div class="img">
            <img src="/assets/images/566shots_so.png" alt="app">
        </div>
    </div>
</header>
