header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 1200px;
}
@media(width<=1200px){
    .header-container{
        width: 90%;

        h1{
            font-size: 45px;
        }
        .img{
            width: 100%;
            align-items: center;
            
            .image-app{
                width: 100%;
                max-height: 580px;
            }
        }
    }
}
@media(width<=1000px){
    .header-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

        .get-started-button{
            margin-top: 10px;
        }
    }
}

@media(width<=374px){
    .header-container{
        h1{
            font-size: calc(40px - 2vw);
        }
    }
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    width: 100%;
}
h1{
    text-align: left;
    color: white;
    margin: 10px 0px;
    font-size: 60px;
}
p{
    text-align: left;
    color: rgba(255, 255, 255, 0.536);
}
.img{
    display: flex;
    align-items: end;
    width: fit-content;
}
.image-app{
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    object-fit: cover;
}
.get-started-button{
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin-top: 40px;
    padding: 12px 35px;
    border-radius: 15px;
    color: rgb(25, 25, 25);
    background-color: rgb(255, 162, 162);
    text-decoration: none;

    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;

    position: relative;
    overflow: hidden;
}
.svg{
    width: 18px;
}

.get-started-button:hover .svg {
    transform: translateX(3px);
    transition: transform 0.3s ease;
}