<header>
    <div class="header-container">
        <div class="container">
            <h1>
                Crea tus notas y tareas, organizalas de la mejor forma
            </h1>
            <p>
                La mejor interfaz para una mejor experiencia
            </p>
            <button (click)="openRegister()" class="get-started-button">
                Empezar
                <img class="svg" src="/assets/svg/arrow-right.svg" alt="arrow-right">
            </button>
        </div>
        <div class="img">
            <img class="image-app" src="/assets/images/app.webp" alt="app"> 
        </div>
    </div>
</header>
