<mat-dialog-content>
    <h3>Carpeta</h3>
    <form [formGroup]="folderForm" (ngSubmit)="saveChanges()">
        <input
            formControlName="name"
            class="input-name"
            type="text"
            maxlength="50"
            placeholder="Ingrese un nombre"
        >
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button id="close-btn" mat-button mat-dialog-close matTooltip="Cancelar">
        <img class="svg" src="/assets/svg/close.svg" alt="close">
    </button>

    <button type="submit" id="edit-btn" mat-button (click)="saveChanges()" matTooltip="Guardar">
        <img class="svg" src="/assets/svg/save.svg" alt="save">
    </button>

    <button id="delete-btn" mat-button (click)="deleteFolder(folderData.id)" matTooltip="Eliminar">
        <img class="svg" src="/assets/svg/trash.svg" alt="delete">
    </button>
    
</mat-dialog-actions>