<section>
    <div class="container">
        <div class="info">
            <div>
                <h2>Optimiza tu productividad</h2>
                <p>Lleva tus tareas y notas al siguiente nivel, maximiza tu eficiencia y mantén todo bajo control</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <h3>Organiza en carpetas</h3>
                <p>Crea carpetas personalizadas para organizar tus tareas y notas de manera eficiente</p>
            </div>
            <div class="card">
                <h3>Compatibilidad móvil</h3>
                <p>Accede desde cualquier lugar, desde cualquier dispositivo</p>
            </div>
            <div class="card">
                <h3>Fácil de usar</h3>
                <p>Interfaz intuitiva y amigable para que puedas gestionar tus contenidos de forma sencilla</p>
            </div>
            <div class="card">
                <h3>Sin costo alguno</h3>
                <p>El uso es totalmente gratis, sin cargos ni suscripciones</p>
            </div>
        </div>
    </div>
</section>