@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

:root{
    background-color: #151515;
}
* {
    font-family: 'Poppins', sans-serif;
    border-radius: border-box;
}
h1 ,h2, h3, h4, h5, h6{
    text-wrap:balance;
}
p{
    text-wrap: pretty;
}

.background-dialog {
    background: rgba(0, 0, 0, 0.611);
}

html, body { height: 100%; }
body { margin: 0; }
